[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pypdf2 = "*"
faiss-cpu = "*"
python-dotenv = "*"
langchain-community = "*"
flask-cors = "*"
transformers = "*"
accelerate = "*"
sentencepiece = "*"
langchain-nvidia-ai-endpoints = "*"

[dev-packages]

[requires]
python_version = "3.11"
